<h1><%= @band.name() %></h1>

<p><h3>Change and add new bands to the list:</h3></p>


  <form action="/band_info/<%= @band.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <input name='name' id= 'name' type='text'
      </div>
      <button type="submit" class ='btn btn-success'>Add or change band</button>
  </form>

  <p><h3>Delete this Band</h3></p>
    <form action="/band_info/<%= @band.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
        <div class="form-group">
          <button type="submit" class="btn-danger">Delete</button>
        </div>
    </form>


  <h1><%= @band.name() %></h1>
  <br>
  <br>
  <h3>Select all venues that this band has played in:</h3>

        <% if @venues.any?() %>
          <form action="/venue/band_info/<%= @band.id %>" method="post">
            <input type="hidden" name="_method" value="patch">

            <% @venues.each() do |venue| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>">
                    <% if @venues_checked.include?(venue.id) %>
                      checked
                    <% end %>
                      >
                    <% venue.name() %>
                  </label>
                </div>
            <% end %>

            <button type="submit">Update</button>
          </form>
        <% end %>
